@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-green: #02a29e;
    --gray-shade-0: #d0d5dd;
    --gray-shade-5: #72757e;
    --gray-shade-10: #e0e5fa;
    --gray-shade-15: #f8f9fb;
    --gray-shade-20: #f3f7fc;
    --gray-shade-25: #e7ecf3;
    --gray-shade-30: #667085;
    --black-shade-0: #323232;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .gray-intput-field {
    @apply border border-solid border-gray-shade-0 px-3 py-1 rounded-md w-full outline-primary-green;
  }

  .become-a-partner-submit-btn {
    @apply bg-[#E8EDF4] text-black duration-300 px-4 py-1 rounded-sm text-sm;
  }
}

.active_nav {
  border-bottom: 1px solid var(--primary-green);
  color: var(--primary-green);
}

.circular-progress-status {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.circular-progress-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.circular-progress-title > p:nth-child(1) {
  text-transform: uppercase;
}

.circular-progress-title > p:nth-child(2) {
  font-weight: 700;
  font-size: 30px;
}

.circular-progress-extra > p > span {
  font-weight: 700;
}

.circle-background {
  fill: none;
  stroke: var(--gray-shade-20);
}

.circle-progress {
  fill: none;
  stroke: #ac0000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  .active_nav {
    border-bottom: none;
  }
}
